Marcin Traskowski 430180

# Appendix

In [1]:
import os
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# This file was just to see the description of the Adult dataset
# From it I could see expected sizes of Train Dataset and Test Dataset after dealing with missing values (train=30162, test=15060)

#with open("Desktop/datasets/adult/raw/adult.names", 'r') as file:
#    data = file.read()

#print(data)

In [3]:
# names of column as suggested from linked github

columns = ["Age", "Workclass", "Final Weight", "Education", "Education Number of Years", "Marital-status", "Occupation", "Relationship", "Race", "Gender", "Capital-gain", "Capital-loss", "Hours-per-week", "Native-country", "Income"]

# I am working on Windows and I am not sure if path is needed to be changed if working on Linux
# to work for me I got this ipynb file and datasets folder in Desktop
df_test = pd.read_csv("datasets/adult/raw/adult.test", index_col=None, header=None, names=columns)

# dealing with missing values
df_test = df_test.dropna()
df_test.replace(" ?", np.nan, inplace=True)

df_test = df_test.dropna()

df_test.iloc[:,[0,2,4,10,11,12]] = df_test.iloc[:,[0,2,4,10,11,12]].astype(np.float64)

df_test['Income'] = df_test['Income'].map({' <=50K.': 0, " >50K.": 1})
df_test.iloc[:,14] = df_test.iloc[:,14].astype(np.int64)
print(df_test.shape)
df_test.head()

(15060, 15)

,Age,Workclass,Final Weight,Education,Education Number of Years,Marital-status,Occupation,Relationship,Race,Gender,Capital-gain,Capital-loss,Hours-per-week,Native-country,Income
1,25.0,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,0
2,38.0,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,0
3,28.0,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,1
4,44.0,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,1
6,34.0,Private,198693.0,10th,6.0,Never-married,Other-service,Not-in-family,White,Male,0.0,0.0,30.0,United-States,0

In [4]:
columns = ["Age", "Workclass", "Final Weight", "Education", "Education Number of Years", "Marital-status", "Occupation", "Relationship", "Race", "Gender", "Capital-gain", "Capital-loss", "Hours-per-week", "Native-country", "Income"]
df = pd.read_csv("datasets/adult/raw/adult.data", index_col=None, header=None, names=columns)

df.replace(" ?", np.nan, inplace=True)
df = df.dropna()

df.iloc[:,[0,2,4,10,11,12]] = df.iloc[:,[0,2,4,10,11,12]].astype(np.float64)

df['Income'] = df['Income'].map({' <=50K': 0, " >50K": 1})
df.iloc[:,14] = df.iloc[:,14].astype(np.int64)
print(df.shape)
df.head()

(30162, 15)

,Age,Workclass,Final Weight,Education,Education Number of Years,Marital-status,Occupation,Relationship,Race,Gender,Capital-gain,Capital-loss,Hours-per-week,Native-country,Income
0,39.0,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,0
1,50.0,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,0
2,38.0,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,0
3,53.0,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,0
4,28.0,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,0

In [5]:
# we already have division for train and test set
# i will briefly join them and then one hot encode and then divide again in the same proportion

df_combined = pd.concat([df, df_test], ignore_index=True)
print(df_combined.shape)

(45222, 15)

In [6]:
categorical_cols = df_combined.columns[[1, 3, 5, 6, 7, 8, 9, 13]]
df_combined = pd.get_dummies(df_combined, columns=categorical_cols, drop_first=True)

# Placing 'Income' at the end
income_column = df_combined.pop('Income')
df_combined['Income'] = income_column

In [7]:
print(df_combined.shape)
df_combined.head()

(45222, 97)

,Age,Final Weight,Education Number of Years,Capital-gain,Capital-loss,Hours-per-week,Workclass_ Local-gov,Workclass_ Private,Workclass_ Self-emp-inc,Workclass_ Self-emp-not-inc,...,Native-country_ Puerto-Rico,Native-country_ Scotland,Native-country_ South,Native-country_ Taiwan,Native-country_ Thailand,Native-country_ Trinadad&Tobago,Native-country_ United-States,Native-country_ Vietnam,Native-country_ Yugoslavia,Income
0,39.0,77516.0,13.0,2174.0,0.0,40.0,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0
1,50.0,83311.0,13.0,0.0,0.0,13.0,False,False,False,True,...,False,False,False,False,False,False,True,False,False,0
2,38.0,215646.0,9.0,0.0,0.0,40.0,False,True,False,False,...,False,False,False,False,False,False,True,False,False,0
3,53.0,234721.0,7.0,0.0,0.0,40.0,False,True,False,False,...,False,False,False,False,False,False,True,False,False,0
4,28.0,338409.0,13.0,0.0,0.0,40.0,False,True,False,False,...,False,False,False,False,False,False,False,False,False,0

In [8]:
# to check columns name:
#df_combined.columns

# just to check then now 'Gender' is called 'Gender_ Male'

In [9]:
X_train = df_combined.iloc[0:30162,0:96]
y_train = df_combined.iloc[0:30162,96]
X_test = df_combined.iloc[30162:,0:96]
y_test = df_combined.iloc[30162:,96]

print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(30162, 96) (30162,) (15060, 96) (15060,)

In [10]:
# this is function for calculating 
# Demographic Parity, Equal Opportunity, Predictive Rate Parity
from sklearn.metrics import confusion_matrix

def Fairness_Calculation(model, X_test, y_test, attribute):

    X_test_Group_0 = X_test[X_test[attribute] == 0] 
    X_test_Group_1 = X_test[X_test[attribute] == 1]

    y_test_Group_0 = y_test[X_test[attribute] == 0]
    y_test_Group_1 = y_test[X_test[attribute] == 1]

    y_pred_Group_0 = model.predict(X_test_Group_0)
    y_pred_Group_1 = model.predict(X_test_Group_1)

    # Demographic Parity
    
    Demographic_Parity_0 = np.mean(y_pred_Group_0)
    Demographic_Parity_1 = np.mean(y_pred_Group_1)
    
    
    TN_0, FP_0, FN_0, TP_0 = confusion_matrix(y_true = y_test_Group_0, y_pred = y_pred_Group_0).ravel()
    TN_1, FP_1, FN_1, TP_1 = confusion_matrix(y_true = y_test_Group_1, y_pred =  y_pred_Group_1).ravel()

    # Equal Opportunity
    
    Equal_Opportunity_0 = (TP_0 / (TP_0 + FN_0))
    Equal_Opportunity_1 = (TP_1 / (TP_1 + FN_1))
    

    # Predictive Rate Parity
    
    Predictive_Rate_Parity_0 = (TP_0 / (TP_0 + FP_0))
    Predictive_Rate_Parity_1 = (TP_1 / (TP_1 + FP_1))

    return (Demographic_Parity_0, Demographic_Parity_1,
            Equal_Opportunity_0, Equal_Opportunity_1,
            Predictive_Rate_Parity_0, Predictive_Rate_Parity_1
           )

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

RandomForest = RandomForestClassifier(n_estimators=100, random_state=120)

RandomForest.fit(X_train, y_train)

y_pred_RandomForest = RandomForest.predict(X_test)

print("\n\nFirst Model Accuracy:", accuracy_score(y_true = y_test, y_pred =  y_pred_RandomForest))

Fairness_values = Fairness_Calculation(RandomForest, X_test, y_test, 'Gender_ Male')


print("\nDemographic_Parity_0 : ",Fairness_values[0])
print("\nDemographic_Parity_1 : ",Fairness_values[1])
print("\nDemographic_Parity Rate : ",round(Fairness_values[0]/Fairness_values[1],2))

print("\n\nEqual_Opportunity_0 : ",Fairness_values[2])
print("\nEqual_Opportunity_1 : ",Fairness_values[3])
print("\nEqual_Opportunity Rate : ",round(Fairness_values[2]/Fairness_values[3],2))

print("\n\nPredictive_Rate_Parity_0 : ",Fairness_values[4])
print("\nPredictive_Rate_Parity_1 : ",Fairness_values[5])
print("\nPredictive_Rate_Parity Rate : ",round(Fairness_values[4]/Fairness_values[5],2))

First Model Accuracy: 0.8467463479415671

Demographic_Parity_0 :  0.0858945654386322

Demographic_Parity_1 :  0.269242140534148

Demographic_Parity Rate :  0.32


Equal_Opportunity_0 :  0.5601436265709157

Equal_Opportunity_1 :  0.6239261851734013

Equal_Opportunity Rate :  0.9


Predictive_Rate_Parity_0 :  0.7393364928909952

Predictive_Rate_Parity_1 :  0.7177891654465594

Predictive_Rate_Parity Rate :  1.03

In [12]:
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

MLP = MLPClassifier(hidden_layer_sizes=(32, 32,32), max_iter=200,verbose = False, random_state=120)

MLP.fit(X_train, y_train)

y_pred_MLP = MLP.predict(X_test)

print("\n\nSecond Model Accuracy:", accuracy_score(y_true = y_test, y_pred =  y_pred_MLP))

Fairness_values = Fairness_Calculation(MLP, X_test, y_test, 'Gender_ Male')


print("\nDemographic_Parity_0 : ",Fairness_values[0])
print("\nDemographic_Parity_1 : ",Fairness_values[1])
print("\nDemographic_Parity Rate : ",round(Fairness_values[0]/Fairness_values[1],2))

print("\n\nEqual_Opportunity_0 : ",Fairness_values[2])
print("\nEqual_Opportunity_1 : ",Fairness_values[3])
print("\nEqual_Opportunity Rate : ",round(Fairness_values[2]/Fairness_values[3],2))

print("\n\nPredictive_Rate_Parity_0 : ",Fairness_values[4])
print("\nPredictive_Rate_Parity_1 : ",Fairness_values[5])
print("\nPredictive_Rate_Parity Rate : ",round(Fairness_values[4]/Fairness_values[5],2))

Second Model Accuracy: 0.8040504648074369

Demographic_Parity_0 :  0.04315082434357826

Demographic_Parity_1 :  0.10397161722676654

Demographic_Parity Rate :  0.42


Equal_Opportunity_0 :  0.27289048473967686

Equal_Opportunity_1 :  0.2723512567610563

Equal_Opportunity Rate :  1.0


Predictive_Rate_Parity_0 :  0.7169811320754716

Predictive_Rate_Parity_1 :  0.8113744075829384

Predictive_Rate_Parity Rate :  0.88

In [13]:
# Bias mitigation: Data Pre-processing, subsambling

from imblearn.under_sampling import RandomUnderSampler
index = X_train.columns.get_loc('Gender_ Male')

y = X_train['Gender_ Male']

X = pd.concat([ X_train.drop(columns=['Gender_ Male']), y_train], axis =1 )

smote = RandomUnderSampler(sampling_strategy='all', random_state=1304)

X_Resampled, y_Resampled = smote.fit_resample(X, y)


print("\n\nOriginal distribution of Gender_ Male (IN TRAINING DATA):")
print(X_train['Gender_ Male'].value_counts())

print("\nResampled distribution of Gender_ Male:")
print(y_Resampled.value_counts())

X_Resampled.insert(index, 'Gender_ Male', y_Resampled.values)

print(X_Resampled.shape)

Original distribution of Gender_ Male (IN TRAINING DATA):
Gender_ Male
True     20380
False     9782
Name: count, dtype: int64

Resampled distribution of Gender_ Male:
Gender_ Male
False    9782
True     9782
Name: count, dtype: int64
(19564, 97)

In [14]:
X_train_Resampled = X_Resampled.iloc[:,0:96]
y_train_Resampled = X_Resampled.iloc[:,96]

RandomForest_Resampled = RandomForestClassifier(n_estimators=100, random_state=120)

RandomForest_Resampled.fit(X_train_Resampled, y_train_Resampled)

y_pred_RandomForest_Resampled = RandomForest_Resampled.predict(X_test)

print("\n\nThird Model Accuracy:", accuracy_score(y_true = y_test, y_pred =  y_pred_RandomForest_Resampled))

Fairness_values = Fairness_Calculation(RandomForest_Resampled, X_test, y_test, 'Gender_ Male')


print("\nDemographic_Parity_0 : ",Fairness_values[0])
print("\nDemographic_Parity_1 : ",Fairness_values[1])
print("\nDemographic_Parity Rate : ",round(Fairness_values[0]/Fairness_values[1],2))

print("\n\nEqual_Opportunity_0 : ",Fairness_values[2])
print("\nEqual_Opportunity_1 : ",Fairness_values[3])
print("\nEqual_Opportunity Rate : ",round(Fairness_values[2]/Fairness_values[3],2))

print("\n\nPredictive_Rate_Parity_0 : ",Fairness_values[4])
print("\nPredictive_Rate_Parity_1 : ",Fairness_values[5])
print("\nPredictive_Rate_Parity Rate : ",round(Fairness_values[4]/Fairness_values[5],2))

Third Model Accuracy: 0.848937583001328

Demographic_Parity_0 :  0.08731935680846734

Demographic_Parity_1 :  0.2660884990637627

Demographic_Parity Rate :  0.33


Equal_Opportunity_0 :  0.5655296229802513

Equal_Opportunity_1 :  0.6242443525294304

Equal_Opportunity Rate :  0.91


Predictive_Rate_Parity_0 :  0.7342657342657343

Predictive_Rate_Parity_1 :  0.7266666666666667

Predictive_Rate_Parity Rate :  1.01